/*
Document   : default
Created on : 2013-04-23, 12:18:06
Author     : Andrzej
Description: Purpose of the main stylesheet follows.
*/

/*
układ strony
*/

div #header {
	/*
	background-image: url('../img/page_header.png');
	background-size: contain;
	*/
}
#container
{
	width: 1024px;
	margin: auto;
}
#header, #center, #footer
{
	margin: 5px;
}
#menu
{
	float: left;
	width: 17%;
	padding: 0px;
	vertical-align: top;
}
#content
{
	float: right;
	width: 80%;
	padding: 0px;
	vertical-align: top;
}
#project
{
	margin: 2px;
	text-align: center;
	font-size: 12px;
	color: #000;
}
#slogan
{
	margin: 5px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #000;
}

.Clear
{
	clear: both;
	line-height: 0px;
}

html
{
}

body
{
/*
	background: #ffffff url("http://mvc-project.pl/img/page_background.jpg") repeat-x;
*/
	background-color: #e0e6ef; /* #e6eef6; #d6dee6; #98dafc; */
	font-family: sans-serif;
	font-size: small;
	color: #666;
}

a img
{
	border: none;
}

/*
pasek nawigacji
*/

.NavBar
{
	width: 100%;
	padding: 20px 0px;
/*	border: 1px solid #ddd; */
}

.NavItem
{
	font-size: 13px;
	text-align: center;
	line-height: 35px;
	padding: 0px;
	margin: 0px;
}

.NavItem:hover
{
}

.NavItem a
{
	display: block;
	text-decoration: none;
	background: #f2f2f2 url('http://fast-cms.pl/img/buttons/btn_grey_off_35.jpg') repeat-x;
	color: #a00;
	border: 1px solid #bbb;
}

.NavItem a:hover
{
	background: #f2f2f2 url('http://fast-cms.pl/img/buttons/btn_grey_on_35.jpg') repeat-x;
	color: #c00;
	text-decoration: underline;
}

a.NavLink
{
}

a.NavLinkSelected
{
	background: #f2f2f2 url('http://fast-cms.pl/img/buttons/btn_grey_on_35.jpg') repeat-x;
	color: #c00;
	text-decoration: underline;
}

/*
elementy strony
*/

h1, h2, h3, h4, h5, h6
{
	font-weight: bold;
	line-height: 1.8em;
}

h1
{
	font-size: 18px;
}
h2
{
	font-size: 16px;
}
h3
{
	font-size: 14px;
}
h4
{
	font-size: 12px;
}

ul
{
	line-height: 16px;
}
ol
{
	line-height: 16px;
}
li
{
	line-height: 16px;
	margin-top: 4px;
	margin-bottom: 4px;
}

a
{
	color: #6060a0;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

a.Disabled 
{
	color: #999;
}

div.PageHeader
{
	margin: 0px;
}

span.PageLogo
{
	margin: 0px;
	float: left;
}

span.PageUtilities
{
	float: right;
}

span.Title
{
	color: #ccc;
}

.LogoImage
{
	vertical-align: top;
}

.LogoTitle
{
	padding-left: 30px;
	font: italic bold 55px/55px Georgia, serif;
	vertical-align: bottom;
	color: #d00;
	text-shadow: 4px 4px 6px #aaa;
}

.LogoSubTitle
{
	padding-left: 30px;
	font: italic bold 40px/40px Georgia, serif;
	vertical-align: top;
	color: #f80;
	text-shadow: 4px 4px 6px #bbb;
}

div.PageMenu
{
	padding: 5px;
	text-align: left;
}

div.PageContent
{
	padding: 5px;
	text-align: left;
	line-height: 20px;
}

div.PageMainContent
{
	font-family: sans-serif;
	font-size: small;
}

div.PageFooter
{
	font-family: Verdana, Geneva, sans-serif;
	text-align: center;
}

div.PageLinks
{
	color: #309030;
	text-align: right;
	line-height: 20px;
	padding-top: 15px;
}

div.PageUser
{
	color: #309030;
	text-align: right;
	line-height: 20px;
	padding-top: 20px;
}

div.PagePath
{
	padding-top: 20px;
	text-align: right;
}

.TopLinkItem
{
	padding-left: 20px;
}

.TopLinkIcon
{
	vertical-align: middle;
	border: 0px solid #fff;
	padding-left: 0px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 2px;
}

a.PathLink
{
	color: #6060a0;
	text-decoration: none;
}

a.PathLink:hover
{
	color: #f00000;
	text-decoration: underline;
}

.PathItem
{
	padding-left: 5px;
	padding-right: 0px;
}

.UserItem
{
	float: left;
}

.Logo
{
	border: 0px solid #CFCFCF;
}

.WindowHeader 
{
	line-height: 30px;
	font-size: medium;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	border-bottom: 1px solid #369;
	color: #369;
	margin-bottom: 20px;
}

.MenuIco
{
	vertical-align: top;
	padding-left: 1px;
	padding-right: 2px;
}

.MenuItem
{
	vertical-align: top;
	padding-left: 2px;
	padding-right: 1px;
	padding-bottom: 10px;
}

.MenuItemSelected
{
	color: #c00;
}

.SearchButton
{
	text-align: center; 
	padding-top: 10px;
}

.FormPanel
{
	text-align: left;
	vertical-align: middle;
	font-size: smaller;
	color: #303030;
}

.MenuLink
{
	color: #6060a0;
	text-decoration: none;
}

.MenuLink:hover
{
	text-decoration: underline;
}

.DataLink
{
	padding: 1px;
	line-height: 10px;
}

.FormLinkSeparated
{
	font-size: small;
}

.Table
{
	border: 1px solid #999; /* #C0D0E0; */
	font-size: smaller;
	padding: 5px;
	color: #303030;
	background-color: #f9f9f9;
}

.FormTitleBar
{
	border-bottom: 1px dotted #ABC;
	text-align: left;
	padding-bottom: 7px;
}

.FormIcon
{
	padding-right: 15px;
}

.FormTitle
{
	font-size: medium;
	font-weight: bold;
	color: #c33;
	line-height: 32px;
	vertical-align: top;
}

.FormSearch
{
	float: right;
	padding-right: 5px;
	padding-top: 5px;
}

.FormSearchBar
{
	border-bottom: 1px dotted #ABC;
	text-align: center;
	padding: 2px;
	font-size: 11px;
}

.FormSearchCaption
{
	color: #999;
}

.FormSearchValue
{
	color: #c00;
}

.FormSearchClose > img
{
	vertical-align: middle;
	margin-left: 10px;
}

.FormSearchClose > img:hover
{
	cursor: pointer;
}

.UserSelLabel
{
	float: right;
	padding-right: 15px;
	padding-top: 8px;
	font-size: 11px;
}

.FormDates
{
	float: right;
	padding-right: 35px;
	padding-top: 5px;
}

.TitleCell
{
	border-bottom: 1px solid #90B0D0;
	font-size: small;
	text-align: left;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #369;
}

.DataCell
{
	border-bottom: 1px dotted #C0D0E0;
	line-height: 14px;
	font-size: small;
	text-align: left;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000;
}

.FormCell
{
	border-bottom: 1px dotted #C0D0E0;
	line-height: 14px;
	font-size: small;
	text-align: left;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
	color: #000;
}

.ActionCell
{
	border-bottom: 1px dotted #C0D0E0;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.DataLock
{
	border-bottom: 1px dotted #C0D0E0;
	line-height: 14px;
	font-size: small;
	text-align: left;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #c00;
}

.DataCellMsg
{
	line-height: 14px;
	font-size: small;
	text-align: center;
	padding: 10px;
	color: #c00;
}

.DataRowBright
{
	background-color: inherit;	
}

.DataRowDark
{
	background-color: inherit;
}

.DataRowBright:hover
{
	background-color: #d0e5fa;
}

.DataRowDark:hover
{
	background-color: #d0e5fa;
}

.DetailsCell
{
	border-bottom: 1px dotted #C0D0E0;
	font-size: small;
	text-align: left;
	padding: 5px;
	color: #00f;
}

.FormInput, .FormComboBox
{
	font-size: small;
	border: 1px solid #999;
	background-color: #fff;
	padding: 2px 4px;
}

textarea.FormInput
{
	font-family: Consolas, monospace;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	border: 1px solid #999;
	background-color: #fff;
	padding: 2px 4px;
}

.ButtonBar
{
	padding-top: 15px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

.Message
{
	text-align: center; 
}

.MessageBoxError
{
	border: 1px solid #f99;
	background-color: #ffccbb;
	vertical-align: middle;
}

.MessageBoxSuccess
{
	border: 1px solid #9c3;
	background-color: #aaee66;
	vertical-align: middle;
}

.MessageBoxWarning
{
	border: 1px solid #fba;
	background-color: #ffddbb;
	vertical-align: middle;
}

.MessageBoxInformation
{
	border: 1px solid #acf;
	background-color: #ddeeff;
	vertical-align: middle;
}

.MessageBoxQuestion
{
	border: 1px solid #fcc;
	background-color: #ffeecc;
	vertical-align: middle;
}

.MessageBoxError .MsgMessage
{
	color: #900;
}

.MessageBoxSuccess .MsgMessage
{
	color: #060;
}

.MessageBoxWarning .MsgMessage
{
	color: #c00;
}

.MessageBoxInformation .MsgMessage
{
	color: #069;
}

.MessageBoxQuestion .MsgMessage
{
	color: #933;
}

.MsgIcon
{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 0px;
	vertical-align: middle;
	width: 0;
	display: none;
}

.MsgMessage
{
	padding-left: 10px;
	padding-right: 10px;
	font-size: small;
	text-align: center;
	vertical-align: middle;
	width: 100%;
	height: 50px;
}

.SortIcon
{
	vertical-align: middle;
	padding-bottom: 3px;
}

.NaviBar
{
	text-align: center;
	padding: 0px;
}

.NaviPointersLeft
{
	text-align: left;
	vertical-align: middle;
	width: 15%;
}

.NaviPointers
{
	font-size: small;
	padding: 10px;
	vertical-align: middle;
	text-align: center;
	width: 70%;
}

.NaviPointersRight
{
	text-align: right;
	vertical-align: middle;
	width: 15%;
}

.NaviPointersCount
{
	font-size: small;
	padding: 0px;
	vertical-align: middle;
	text-align: center;
}

.PagePointer
{
	border: 1px solid #999; /* #ccc; */
	color: #369;
	background-color: #fff;
	padding: 5px 10px;
	text-align: center;
	line-height: 30px;
}

.PagePointerCurrent
{
	border: 1px solid #999; /* #036; */
	color: #666;
	background-color: #ddd;
	padding: 5px 10px;
	text-align: center;
	line-height: 30px;
}

.PagePointerDisabled
{
	border: 1px solid #999; /* #ccc; */
	color: #ccc;
	background-color: #fff;
	padding: 5px 10px;
	text-align: center;
	line-height: 30px;
}

.PagePointer:hover
{
	color: #fff;
	background-color: #369;
	text-decoration: none;
}

.PagePointerCurrent:hover
{
	text-decoration: none;
}

.PagePointerDisabled:hover
{
	text-decoration: none;
}

.FormGoToPage
{
}

.FormShowRows
{
}

.PageInput
{
	border: 1px solid #999;
	background-color: #fff;
	color: #000;
	text-align: center;
	width: 40px;
	font-size: small;
}

.PageGo
{
	width: 40px;
	font-size: small;
}

.ActionIcon
{
	margin: 2px;
	border: 0px dotted #fff;
}

.MessageError
{
	padding: 15px;
	text-align: left;
	vertical-align: middle;
	font-size: 1.0em;
	border: 1px solid #999; /* #C0D0E0; */
	color: #c00;
	background-color: #ffeedd;
}

.MessageWarning
{
	padding: 15px;
	text-align: left;
	vertical-align: middle;
	font-size: 1.0em;
	border: 1px solid #999; /* #C0D0E0; */
	color: #c33;
	background-color: #ffeebb;
}

.MessageInformation
{
	padding: 15px;
	text-align: left;
	vertical-align: middle;
	font-size: 1.0em;
	border: 1px solid #999; /* #C0D0E0; */
	color: #00c;
	background-color: #f0f9ff;
}

.MessageQuestion
{
	padding: 15px;
	text-align: left;
	vertical-align: middle;
	font-size: 1.0em;
	border: 1px solid #999; /* #C0D0E0; */
	color: #393;
	background-color: #fff8f0;
}

.MessageTitle
{
	border-bottom: 1px solid #C0D0E0;
	padding-bottom: 5px;
	font-size: medium;
	line-height: 20px;
	text-align: center;
}

.MessageIcon
{
	padding-right: 15px;
}

.MessageText
{
	line-height: 17px;
	text-align: left;
	color: #369;
}

.MessageSeparator
{
	border-bottom: 1px dotted #C0D0E0;
}

.Footer 
{
	line-height: 14px;
	font-size: 11px;
	text-align: center;
	vertical-align: middle;
	color: #555;
	background-color: inherit;
	border-top: 1px solid #369;
	padding: 10px;
	margin-top: 20px;
}

.Separator
{
	padding: 10px;
}

.Stats
{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	color: #666;
}

ul.IpList
{
	margin: 0px;
	padding-left: 20px;
}

li.IpItem
{
	margin: 0px;
	line-height: 12px;
}

.PanelItem
{
	padding: 20px;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	line-height: 15px;
}

.ItemEnabled
{
	color: #666;
}

.ItemDisabled
{
	color: #999;
}

a.PanelLink
{
	color: #666;
}

.PageSignature
{
	font-size: 11px; 
	font-weight: normal;
	color: #666; 
	text-align: right;
	float: right;
}

.IconSignature
{
	vertical-align: middle;
	padding: 5px;
}

.PageAction
{
	font-size: 12px; 
	font-weight: normal;
	text-align: right;
	padding-left: 10px;
}

.PageAction > a:hover
{
	color: #c00;
}

textarea#message
{
	min-width: 386px;
	max-width: 390px;
	min-height: 100px;
	max-height: 300px;
}

div#multi select.year { width: 80px; }
div#multi select.month { width: 64px; }
div#multi select.day { width: 64px; }
div#filters div.condition-item { padding: 5px 0; }
div#filters select { width: 170px; margin-right: 21px; padding-left: 5px; border: 1px solid #999; }
div#filters input { width: 458px; margin-right: 21px; padding-left: 5px; border: 1px solid #999; }
div#filters button { width: 50px; }
div#add-button { padding: 10px 0; }
div#add-button button { width: 170px; }
textarea#exceptions { width: 906px; height: 60px; min-width: 906px; max-width: 906px; min-height: 60px; max-height: 60px; font-family: inherit; font-size: inherit; }